
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="">
            Proyecto simu
          </a>
        </li>
        <li>
          <a href="http://blog.creative-tim.com">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Diseñado en
      <a href="http://www.umss.edu.bo/" target="_blank">UMSS</a>. Codificado en 
      <a href="" target="_blank">Taller de simulacion</a>.
    </div>
  </div>
</footer>
