<div class="panel-header">
  <div class="header text-center">
    <h2 class="title" style="font-family: cursive;">TALLER DE SIMULACIÓN DE SISTEMAS</h2>
  </div>
</div>
<div class="container">
  <form>
    <div class="form-group">
      <label for="example">example</label>
      <select name="cantSalas" id="cantSalas" class="form-control bg-light text-dark">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
      </select>
    </div>
  </form>
</div>