<div class="panel-header">
  <div class="header text-center">
    <h2 class="title" style="font-family: cursive;">TALLER DE SIMULACIÓN DE SISTEMAS</h2>
  </div>
</div>
<div class="container">
  <div #screen id="table" style="display: block;">
    <canvas baseChart 
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>
  </div>
  <button class="btn btn-secondary" (click)="randomize()">Update</button>
  <div class="btn btn-primary" (click)="downloadImage()">Descargar</div>
</div>
<button (click)="probar()">prueba</button>
<div id="download">
  <img #canvas style="visibility: hidden;">
  <a #downloadLink></a>
</div>