<div class="panel-header">
  <div class="header text-center">
    <h2 class="title" style="font-family: cursive;">TALLER DE SIMULACIÓN DE SISTEMAS</h2>
  </div>
</div>
<div #screen id="table">
<div class="container">

  <div  style="display: block;">
    <canvas baseChart 
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>
  </div>
  <hr class="linea">
</div>
<div id="fullTable"class="text-center">
    <h2>PROMEDIO DE DIAS POR FASES</h2>
    <div id="table1">
  <table class="table"  style="font-size:10">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Cargos</th>
        <th scope="col">Denuncias</th>
        <th scope="col">Investigación</th>
        <th scope="col">Objeción</th>
        <th scope="col">Complementación</th>
        <th scope="col">Salidas Alternativas</th>
        <th scope="col">Rechazo</th>
      </tr>
    </thead>
    <tbody *ngFor="let res of resSimu">
      <tr>
        <td>{{res.cargos}}</td>
        <td>{{res.denuncia}}</td>
        <td>{{res.investigacion}}</td>
        <td>{{res.objecion}}</td>
        <td>{{res.complementacion}}</td>
        <td>{{res.salAlt}}</td>
        <td>{{res.rechazo}}</td>
      </tr>
    </tbody>
  </table>
</div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Cargos</th>
        <th scope="col">Conciliación</th>
        <th scope="col">Proc. abreviado</th>
        <th scope="col">Suspención</th>
        <th scope="col">Juicio</th>
        <th scope="col">Apelación</th>
        <th scope="col">Casación</th>
      </tr>
    </thead>
    <tbody *ngFor="let res of resSimu">
      <tr>
        <td>{{res.cargos}}</td>
        <td>{{res.conciliacion}}</td>
        <td>{{res.procAbre}}</td>
        <td>{{res.suspencion}}</td>
        <td>{{res.juicio}}</td>
        <td>{{res.apelacion}}</td>
        <td>{{res.casacion}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="text-center"><button class="btn btn-primary" width="100%" (click)="downloadImage()">Descargar PNG </button>  </div>
<div class="text-center"><button class="btn btn-primary" width="100%" (click)="downloadPDF()">Descargar PDF tablas</button>  </div>
<!-- <div class="text-center"><button class="btn btn-primary" width="100%" (click)="genPDF()">Descargar PDF</button>  </div> -->
<div class="text-center"><button class="btn btn-primary" width="100%" (click)="downpdf()">Descargar PDF</button>  </div>
<div id="download">
  <img #canvas style="visibility: hidden;height:50px">
  <a #downloadLink></a>
</div>
