<div style="height:80px"></div>
<div class="container">
  
  <!-- <img src="../../assets/img/randy.png" alt="" class="animate"> -->
  <!-- <img src="../../assets/img/police.png" alt="" width="50px" height="100px" style="position:relative; top:100px; left:-60px"> -->
  <p></p>
</div>
<div class="container">

</div>

<div *ngIf="simu" style="display:flex" >
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr class="text-center">
          <th style="font-size: 15px;" scope="col">Allanamiento</th>
          <th style="font-size: 15px;" scope="col">Amenaza</th>
          <th style="font-size: 15px;" scope="col">Asesinato</th>
          <th style="font-size: 15px;" scope="col">Conduccion Peligrosa</th>
          <th style="font-size: 15px;" scope="col">Estafa</th>
          <th style="font-size: 15px;" scope="col"># Jueces</th>
          <th style="font-size: 15px;" scope="col"># Salas</th>
          <th style="font-size: 15px;" scope="col">Otros</th>
          <th style="font-size: 15px;" scope="col">% Antecedentes</th>
          <th style="font-size: 15px;" scope="col">% Denuncias</th>
          <th style="font-size: 15px;" scope="col">Robo</th>
          <th style="font-size: 15px;" scope="col">Violaciones</th>
        </tr>
      </thead>
      <tbody id="lol">
        <tr class="text-center">
          <td id="allanamiento">{{simu[4].allanamiento}}</td>
          <td id="amenaza">{{simu[4].amenaza}}</td>
          <td id="asesinato">{{simu[4].asesinato}}</td>
          <td id="conduccionPel">{{simu[4].conduccionPel}}</td>
          <td id="estafa">{{simu[4].estafa}}</td>
          <td id="numJueces">{{simu[4].numJueces}}</td>
          <td id="numSalas">{{simu[4].numSalas}}</td>
          <td id="otros">{{simu[4].otros}}</td>
          <td id="porAntecedentes">{{simu[4].porAntecedentes}}</td>
          <td id="porDenuncia">{{simu[4].porDenuncia}}</td>
          <td id="robo">{{simu[4].robo}}</td>
          <td id="violaciones">{{simu[4].violaciones}}</td>
        </tr>
      </tbody>
    </table>
</div>
<div style="text-align: center">
    
    <button (click)=correrSimu() class="btn">Empezar simulacion</button>
    <button (click)=mosResul() class="btn">Mostrar resultados</button>
</div>
<img src="../../assets/img/DiagramaFinal.png" alt="">
<div class='container' id='div_img'>
</div>  

<div>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr class="text-center">
        <th style="font-size: 13px;" scope="col">Cargos</th>
        <th style="font-size: 13px;" scope="col">Denuncia</th>
        <th style="font-size: 13px;" scope="col">Investigación</th>
        <th style="font-size: 13px;" scope="col">Objeción</th>
        <th style="font-size: 13px;" scope="col">Complementación</th>
        <th style="font-size: 13px;" scope="col">Salidas alternativas</th>
        <th style="font-size: 13px;" scope="col">Rechazo</th>
        <th style="font-size: 13px;" scope="col">Conciliación</th>
        <th style="font-size: 13px;" scope="col">Proceso abreviado</th>
        <th style="font-size: 13px;" scope="col">Suspención</th>
        <th style="font-size: 13px;" scope="col">Juicio</th>
        <th style="font-size: 13px;" scope="col">Apelación</th>
        <th style="font-size: 13px;" scope="col">Casación</th>
      </tr>
    </thead>
    <tbody *ngFor="let resulSimu of resulSimu$ | async">
      <tr class="text-center">
        <td>{{resulSimu.cargos}}</td>
        <td>{{resulSimu.denuncia}}</td>
        <td>{{resulSimu.investigacion}}</td>
        <td>{{resulSimu.objecion}}</td>
        <td>{{resulSimu.complementacion}}</td>
        <td>{{resulSimu.salAlt}}</td>
        <td>{{resulSimu.rechazo}}</td>
        <td>{{resulSimu.conciliacion}}</td>
        <td>{{resulSimu.procAbre}}</td>
        <td>{{resulSimu.suspencion}}</td>
        <td>{{resulSimu.juicio}}</td>
        <td>{{resulSimu.apelacion}}</td>
        <td>{{resulSimu.casacion}}</td>
      </tr>
    </tbody>
  </table>
</div>