<br><br>
<br><br>
<div class="m-4">
  <div class="alert alert-info" role="alert">Instrucciones para introducir datos de simulación.</div>
  <div class="form-group row mx-auto">
    <h5 class="card-title m-4">Paso 1</h5>
    <img src="../../assets/img/paso1.png" alt="" style="border: 5px solid #ffb236">
    <img src="../../assets/img/flecha_t.png" alt="" class="animate1">
    <div class="alert alert-info col-2" role="alert">
      <strong style="color:#062c33;">Selecione un número de salas que desee que esten disponibles para la
        simulación.</strong>
    </div>
  </div>

  <div class="form-group mx-auto mt-4">
    <div class="form-group row mx-auto">
      <h5 class="card-title m-4">Paso 2</h5>
      <img src="../../assets/img/paso2.png" alt="" style="border: 5px solid #ffb236" width="300" height="100">
      <div class="alert alert-info col-2 ml-4" role="alert">
        <strong style="color:#062c33;">Arrastre el row switch para medir el número de jueces tecnicos deseados.</strong>
      </div>
    </div><p><img src="../../assets/img/flecha_t.png" alt="" class="animate2"></p></div>
  

  <div class="form-group row mx-auto">
    <h5 class="card-title m-4">Paso 3</h5>
    <img src="../../assets/img/paso3.png" alt="" style="border: 5px solid #ffb236">
    <img src="../../assets/img/flecha_t.png" alt="" class="animate3">
    <div class="alert alert-info col-2" role="alert">
      <strong style="color:#062c33;">Seleccione los tipos de delitos disponibles para la simulacion.</strong>
    </div>
  </div>

  <div class="form-group mx-auto mt-4">
    <div class="form-group row mx-auto">
      <h5 class="card-title m-4">Paso 4</h5>
      <img src="../../assets/img/paso4.png" alt="" style="border: 5px solid #ffb236" width="300" height="100">
      <div class="alert alert-info col-2 ml-4" role="alert">
        <strong style="color:#062c33;">Arrastre el row switch para medir el número de acusados con antecedentes.</strong>
      </div>
    </div><p><img src="../../assets/img/flecha_t.png" alt="" class="animate2"></p></div>

    <div class="form-group mx-auto mt-4">
      <div class="form-group row mx-auto">
        <h5 class="card-title m-4">Paso 5</h5>
        <img src="../../assets/img/paso5.png" alt="" style="border: 5px solid #ffb236" width="339" height="67">
        <div class="alert alert-info col-2 ml-4" role="alert">
          <strong style="color:#062c33;">Arrastre el row switch para medir el número de denuncias echas a la policia y al jusgado.</strong>
        </div>
      </div><p><img src="../../assets/img/flecha_t.png" alt="" class="animate2"></p></div>
</div>
<!-- 
<div class="m-4">
  <div class="alert alert-info" role="alert">Instrucciones para la simulacion por meses</div>
  <div class="form-group row mx-auto">
    <h5 class="card-title m-4">Paso 1</h5>
    <img src="../../assets/img/paso1_gra.png" alt="" style="border: 5px solid #ffb236" width="300" height="100">
    <div class="alert alert-info col-3" role="alert">
      <strong style="color:#062c33;">Preciona play para ver la representacion grafica, Stop para poner en pausa la animacion y power para reniciar la animacion</strong>
    </div>
  </div>
</div> -->


<div class="m-4">
  <div class="alert alert-info" role="alert">Instrucciones para la Animación de la simulación.</div>
  <div class="form-group row mx-auto">
    <h5 class="card-title m-4">Paso 1</h5>
    <img src="../../assets/img/paso1_res.png" alt="" style="border: 5px solid #ffb236" width="338" height="67">
    <div class="alert alert-info col-3" role="alert">
      <strong style="color:#062c33;">Preciona el boton "Empezar simulacion" para iniciar con la interaccion de simulacion.</strong>
    </div>
  </div>
</div>

<div class="m-4">
  <div class="alert alert-info" role="alert">Instrucciones para la verificacion de resultados.</div>
  <div class="form-group row mx-auto">
    <h5 class="card-title m-4">Paso 1</h5>
    <img src="../../assets/img/paso1_res2.png" alt="" style="border: 5px solid #ffb236" width="142" height="98">
    <div class="alert alert-info col-3" role="alert">
      <strong style="color:#062c33;">Preciona el boton "Descargar" para iniciar una descarga de los resultados en una imagen completa.</strong>
    </div>
  </div>
</div>