<div class="panel-header">
  <div class="header text-center">
    <h2 class="title" style="font-family: cursive;">TALLER DE SIMULACIÓN DE SISTEMAS</h2>
  </div>
</div>

<div class="main-content">
  <div class="row">


    <div class="col">
      <div class="row">
        <div class="card text-center">
          <div class="card-header ">
            <h4 class="card-title text-center">Simulación por Meses</h4>
          </div>
          <div class="card-body">
            <app-simulacion [initialpoint]="initialPointMes" [datatime]="'datameses'">
            </app-simulacion>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title text-center">Simulación por Semanas</h4>
          </div>
          <div class="card-body">
            <app-simulacion [initialpoint]="initialPointSemana" [datatime]="'datasemanas'">
            </app-simulacion>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-header ">
            <h4 class="card-title text-center"> Simulación por Dias</h4>
          </div>
          <div class="card-body">
            <app-simulacion [initialpoint]="initialPointdia" [datatime]="'datadias'">
            </app-simulacion>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title text-center">Simulación por Horas</h4>
          </div>
          <div class="card-body">
            <app-simulacion [initialpoint]="initialPointHora" [datatime]="'datahoras'">
            </app-simulacion>
          </div>
        </div>
      </div> -->
    </div>

    <div class="col-lg-1">
    </div>

  </div>
</div>
